{% extends "layout.html" %}
{% block content %}
    <h2>Reinforcement Learning Trading signals</h2>
    <style>
        a:: before {
            content: "\21d2";
            font-weight: bold;
        }

        }

        button:hover {
            background-color: orange;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .container > div {
    
            padding: 12px;
            margin: 0px;    
        }
        
        .container1 {
            padding: 20px;
            margin: 20px; 
        }
                

    </style>
    <button>Trade</button>
    
    <div class=container>
        <div><li><a href="#section1">Turtle Trading agent </a></li></div>
        <div><li><a href="#section2">Moving Average agent</a></li></div>
        <div><li><a href="#section3">Signal Rolling agent</a></li></div>
        <div><li><a href="#section4">Policy Gradient agent</a></li></div>
        <div><li><a href="#section5">Q-learning agent</a></li></div>
        <div><li><a href="#section6">Evolution Strategy agent</a></li></div>
        <div><li><a href="#section7">Double Q-learning agent</a></li></div>
        <div><li><a href="#section8">Recurrent Q-learning agent</a></li></div>
        <div><li><a href="#section9">Double Recurrent Q-learning agent</a></li></div>
        <div><li><a href="#section10">Duel Q-learning agent</a></li></div>
        <div><li><a href="#section11">Double Duel Q-learning agent</a></li></div>
        <div><li><a href="#section12">Duel Recurrent Q-learning agent</a></li></div>
        <div><li><a href="#section13">Double Duel Recurrent Q-learning agent</a></li></div>
        <div><li><a href="#section14">Actor-critic agent</a></li></div>
        <div><li><a href="#section15">Actor-critic Duel agent</a></li></div>
        <div><li><a href="#section16">Actor-critic Recurrent agent</a></li></div>
        <div><li><a href="#section17">Actor-critic Duel Recurrent agent</a></li></div>
        <div><li><a href="#section18">Curiosity Q-learning agent</a></li></div>
        <div><li><a href="#section19">Recurrent Curiosity Q-learning agent</a></li></div>
        <div><li><a href="#section20">Duel Curiosity Q-learning agent</a></li></div>
        <div><li><a href="#section21">Neuro-evoluton agent</a></li></div>
        <div><li><a href="#section22">Neuro-evoluton with Novelty Search agent</a></li></div>
        <div><li><a href="#section23">ABCD Strategy agent</a></li></div>
        <div><li><a href="#section24">Deep Evolution Strategy</a></li></div>

        </div>
      
        



        
    	<div id="section1">
        <h3>Turtle Trading Agent</h3>
        <img src="static/data/^GSPCTurtle Trading Agent.png" alt="Chart" height="300", width=100% >
        </div>
        
      
        <div id="section2">
        <h3 id="section2">Moving Average agent</h3>
        <img src="static/data/^GSPCMoving Average agent.png" alt="Chart" height="300", width=100% >
        </div>
   
        <div id="section3">
    	<h3>Signal Rolling agent</h3>
        <img src="static/data/^GSPCSignal Rolling agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section4">
    	<h3>Policy Gradient agent</he>
        <img src="static/data/^GSPCPolicy Gradient agent.png" alt="Chart" height="300", width=100% >
        </div>


        <div id="section5">
    	<h3>Q-learning agent</h3>
        <img src="static/data/^GSPCQ-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section6">
    	<h3>Evolution Strategy agent</h3>
        <img src="static/data/^GSPCEvolution Strategy agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section7">
    	<h3>Double Q-learning agent</h3>
        <img src="static/data/^GSPCDouble Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section8">
    	<h3>Recurrent Q-learning agent</h3>
        <img src="static/data/^GSPCRecurrent Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section9">
    	<h3>Double Recurrent Q-learning agent</h3>
        <img src="static/data/^GSPCDouble Recurrent Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section10">
    	<h3>Duel Q-learning agent</h3>
        <img src="static/data/^GSPCDuel Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section11">
    	<h3>Double Duel Q-learning agent</h3>
        <img src="static/data/^GSPCDouble Duel Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section12">
    	<h3>Duel Recurrent Q-learning agent</h3>
        <img src="static/data/^GSPCDuel Recurrent Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section13">
    	<h3>Double Duel Recurrent Q-learning agent</h3>
        <img src="static/data/^GSPCDouble Duel Recurrent Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section14">
    	<h3>Actor-critic agent</h3>
        <img src="static/data/^GSPCActor-critic agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section15">
    	<h3>Actor-critic Duel agent</h3>
        <img src="static/data/^^GSPCActor-critic Duel agent" alt="Chart" height="300", width=100% >
        </div>

        <div id="section16">
    	<h3>Actor-critic Recurrent agent</h3>
        <img src="static/data/^GSPCActor-critic Recurrent agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section17">
    	<h3>Actor-critic Duel Recurrent agent</h3>
        <img src="static/data/^GSPCActor-critic Duel Recurrent agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section18">
    	<h3>Curiosity Q-learning agent</h3>
        <img src="static/data/^GSPCCuriosity Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section19">
    	<h3>Recurrent Curiosity Q-learning agent</h3>
        <img src="static/data/^GSPCRecurrent Curiosity Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section20">
    	<h3>Duel Curiosity Q-learning agent</h3>
        <img src="static/data/^GSPCDuel Curiosity Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section21">
    	<h3>Neuro-evolution agent</h3>
        <img src="static/data/^GSPCNeuro-evolution agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section22">
    	<h3>Neuro-evolution with Novelty search agent</h3>
        <img src="static/data/^GSPCNeuro-evolution with Novelty search agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section23">
    	<h3>ABCD Strategy agent</h3>
        <img src="static/data/^GSPCABCD Strategy agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section24">
    	<h3>Deep Evolution Strategy agent</h3>
        <img src="static/data/^GSPCDeep Evolution Strategy.png" alt="Chart" height="300", width=100% >
        </div>
      


{% endblock content %}
