{% extends "layout.html" %}
{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> -->
<style>
    .grid {
      background-color: green;
      display: grid;
      padding: 10px;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      grid-template-columns: auto auto auto;
}

.grid-item {
      background-color: white;
      font-size: 10px;
      padding:  10px;
      text-align: center;
}

</style>


    <h2>Reinforcement Learning Trading signals</h2>
    
    <button type="button" class="btn btn-success">Trade</button><br><br>
    
    <div class="grid">
       
        <div class="grid-item"><a href="#section1">Turtle Trading agent </a></div>
        <div class="grid-item"><a href="#section2">Moving Average agent</a></div>
        <div class="grid-item"><a href="#section3">Signal Rolling agent</a></div>
        <div class="grid-item"><a href="#section4">Policy Gradient agent</a></div>
        <div class="grid-item"><a href="#section5">Q-learning agent</a></div>
        <div class="grid-item"><a href="#section6">Evolution Strategy agent</a></div>
        <div class="grid-item"><a href="#section7">Double Q-learning agent</a></div>
        <div class="grid-item"><a href="#section8">Recurrent Q-learning agent</a></div>
        <div class="grid-item"><a href="#section9">Double Recurrent Q-learning agent</a></div>
        <div class="grid-item"><a href="#section10">Duel Q-learning agent</a></div>
        <div class="grid-item"><a href="#section11">Double Duel Q-learning agent</a></div>
        <div class="grid-item"><a href="#section12">Duel Recurrent Q-learning agent</a></div>
        <div class="grid-item"><a href="#section13">Double Duel Recurrent Q-learning agent</a></div>
        <div class="grid-item"><a href="#section14">Actor-critic agent</a></div>
        <div class="grid-item"><a href="#section15">Actor-critic Duel agent</a></div>
        <div class="grid-item"><a href="#section16">Actor-critic Recurrent agent</a></div>
        <div class="grid-item"><a href="#section17">Actor-critic Duel Recurrent agent</a></div>
        <div class="grid-item"><a href="#section18">Curiosity Q-learning agent</a></div>
        <div class="grid-item"><a href="#section19">Recurrent Curiosity Q-learning agent</a></div>
        <div class="grid-item"><a href="#section20">Duel Curiosity Q-learning agent</a></div>
        <div class="grid-item"><a href="#section21">Neuro-evoluton agent</a></div>
        <div class="grid-item"><a href="#section22">Neuro-evoluton with Novelty Search agent</a></div>
        <div class="grid-item"><a href="#section23">ABCD Strategy agent</a></div>
        <div class="grid-item"><a href="#section24">Deep Evolution Strategy</a></div>
        

        </div>
      
        



        <div class=container1>
    	<div id="section1">
            <br>
            <br>
            <br>
        <h3>Turtle Trading Agent</h3>
        <img src="static/data/agent/^GSPCTurtle Trading Agent.png" alt="Chart" height="400", width=100% >
        </div>
        
      
        <div id="section2">
            <br>
            <br>
            <br>
        <h3>Moving Average agent</h3>
        <img src="static/data/agent/^GSPCMoving Average agent.png" alt="Chart" height="300", width=100% >
        </div>
   
        <div id="section3">
            <br>
            <br>
            <br>
    	<h3>Signal Rolling agent</h3>
        <img src="static/data/agent/^GSPCSignal Rolling agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section4">
            <br>
            <br>
            <br>
    	<h3>Policy Gradient agent</he>
        <img src="static/data/agent/^GSPCPolicy Gradient agent.png" alt="Chart" height="300", width=100% >
        </div>


        <div id="section5">
            <br>
            <br>
            <br>
    	<h3>Q-learning agent</h3>
        <img src="static/data/agent/^GSPCQ-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section6">
            <br>
            <br>
            <br>
    	<h3>Evolution Strategy agent</h3>
        <img src="static/data/agent/^GSPCEvolution Strategy agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section7">
            <br>
            <br>
            <br>
    	<h3>Double Q-learning agent</h3>
        <img src="static/data/agent/^GSPCDouble Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section8">
            <br>
            <br>
            <br>
    	<h3>Recurrent Q-learning agent</h3>
        <img src="static/data/agent/^GSPCRecurrent Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section9">
            <br>
            <br>
            <br>
    	<h3>Double Recurrent Q-learning agent</h3>
        <img src="static/data/agent/^GSPCDouble Recurrent Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section10">
            <br>
            <br>
            <br>
    	<h3>Duel Q-learning agent</h3>
        <img src="static/data/agent/^GSPCDuel Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section11">
            <br>
            <br>
            <br>
    	<h3>Double Duel Q-learning agent</h3>
        <img src="static/data/agent/^GSPCDouble Duel Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section12">
            <br>
            <br>
            <br>
    	<h3>Duel Recurrent Q-learning agent</h3>
        <img src="static/data/agent/^GSPCDuel Recurrent Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section13">
            <br>
            <br>
            <br>
    	<h3>Double Duel Recurrent Q-learning agent</h3>
        <img src="static/data/agent/^GSPCDouble Duel Recurrent Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section14">
            <br>
            <br>
            <br>
    	<h3>Actor-critic agent</h3>
        <img src="static/data/agent/^GSPCActor-critic agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section15">
            <br>
            <br>
            <br>
    	<h3>Actor-critic Duel agent</h3>
        <img src="static/data/agent/^^GSPCActor-critic Duel agent" alt="Chart" height="300", width=100% >
        </div>

        <div id="section16">
            <br>
            <br>
            <br>
    	<h3>Actor-critic Recurrent agent</h3>
        <img src="static/data/agent/^GSPCActor-critic Recurrent agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section17">
            <br>
            <br>
            <br>
    	<h3>Actor-critic Duel Recurrent agent</h3>
        <img src="static/data/agent/^GSPCActor-critic Duel Recurrent agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section18">
            <br>
            <br>
            <br>
    	<h3>Curiosity Q-learning agent</h3>
        <img src="static/data/agent/^GSPCCuriosity Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section19">
            <br>
            <br>
            <br>
    	<h3>Recurrent Curiosity Q-learning agent</h3>
        <img src="static/data/agent/^GSPCRecurrent Curiosity Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section20">
            <br>
            <br>
            <br>
    	<h3>Duel Curiosity Q-learning agent</h3>
        <img src="static/data/agent/^GSPCDuel Curiosity Q-learning agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section21">
            <br>
            <br>
            <br>
    	<h3>Neuro-evolution agent</h3>
        <img src="static/data/agent/^GSPCNeuro-evolution agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section22">
            <br>
            <br>
            <br>
    	<h3>Neuro-evolution with Novelty search agent</h3>
        <img src="static/data/agent/^GSPCNeuro-evolution with Novelty search agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section23">
            <br>
            <br>
            <br>
    	<h3>ABCD Strategy agent</h3>
        <img src="static/data/agent/^GSPCABCD Strategy agent.png" alt="Chart" height="300", width=100% >
        </div>

        <div id="section24">
            <br>
            <br>
            <br>
    	<h3>Deep Evolution Strategy agent</h3>
        <img src="static/data/agent/^GSPCDeep Evolution Strategy.png" alt="Chart" height="300", width=100% >
        </div>
        </div>

      


{% endblock content %}
