{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <h3>Communication Services Earnings Sentiment Signals</h3>
    
    <button>Trade</button>
    
    <div class=container>
       
        <div><li><a href="#section1">Integrated Telecommunication Services</a></li></div>
        <div><li><a href="#section2">Cable & Satellite</a></li></div>
        <div><li><a href="#section3">Interactive Media & Services</a></li></div>
        <div><li><a href="#section4">Interactive Home Entertainment</a></li></div>
        <div><li><a href="#section5">Movies & Entertainment</a></li></div>
        <div><li><a href="#section6">Broadcasting</a></li></div>
        <div><li><a href="#section7">Wireless Telecommunication Services</a></li></div>
        <div><li><a href="#section8">Publishing</a></li></div>
        <div><li><a href="#section9">Advertising</a></li></div>
        

        </div>
      

        <div class=container1>

        <div id="section1"><br><br><br>
        <h3>Integrated Telecommunication Services</h3>
        <img src="static/data/communication_services/Integrated Telecommunication Services_positve.png" alt="Chart" width=100% >
        <img src="static/data/communication_services/Integrated Telecommunication Services_negative.png" alt="Chart" width=100% >
        </div>
      
        <div id="section2"><br><br><br>
        <h3>Cable & Satellite</h3>
        <img src="static/data/communication_services/Cable & Satellite_positve.png" alt="Chart" width=100% >
        <img src="static/data/communication_services/Cable & Satellite_negative.png" alt="Chart" width=100%  >
        </div>
   
        <div id="section3"><br><br><br>
    	<h3>Interactive Media & Services</h3>
        <img src="static/data/communication_services/Interactive Media & Services_positve.png" alt="Chart" width=100% >
        <img src="static/data/communication_services/Interactive Media & Services_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section4"><br><br><br>
    	<h3>Interactive Home Entertainment</he>
        <img src="static/data/communication_services/Interactive Home Entertainment_positve.png" alt="Chart" width=100% >
        <img src="static/data/communication_services/Interactive Home Entertainment_negative.png" alt="Chart" width=100% >
        </div>


        <div id="section5"><br><br><br>
    	<h3>Movies & Entertainment</h3>
        <img src="static/data/communication_services/Movies & Entertainment_positve.png" alt="Chart" width=100% >
        <img src="static/data/communication_services/Movies & Entertainment_negative.png" alt="Chart" width=100%  >
        </div>


        <div id="section6"><br><br><br>
    	<h3>Broadcasting</h3>
        <img src="static/data/communication_services/Broadcasting_positve.png" alt="Chart" width=100% >
        <img src="static/data/communication_services/Broadcasting_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section7"><br><br><br>
    	<h3>Wireless Telecommunication Services</h3>
        <img src="static/data/communication_services/Wireless Telecommunication Services_positve.png" alt="Chart" width=100% >
        <img src="static/data/communication_services/Wireless Telecommunication Services_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section8"><br><br><br>
    	<h3>Publishing</h3>
        <img src="static/data/communication_services/Publishing_positve.png" alt="Chart" width=100%  >
        <img src="static/data/communication_services/Publishing_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section9"><br><br><br>
    	<h3>Advertising</h3>
        <img src="static/data/communication_services/Advertising_positve.png" alt="Chart" width=100% >

        <img src="static/data/communication_services/Advertising_negative.png" alt="Chart" width=100%  >
        </div>

        

    </div>


{% endblock content %}
