{% extends "layout.html" %}
{% block content %}
    <h3>Consumer Discretionary Earnings Sentiment Signals</h3>
    <style>
        a:: before {
            content: "\21d2";
            font-weight: bold;
        }

        }

        button:hover {
            background-color: orange;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .container > div {
    
            padding: 12px;
            margin: 0px;    
        }
        
        .container1 > div {
            padding: 20px;
            margin: 20px; 
        }
                

    </style>
    <button>Trade</button>
    
    <div class=container>
       
        <div><li><a href="#section1">IApparel, Accessories & Luxury Goods</a></li></div>
        <div><li><a href="#section2">Specialty Stores</a></li></div>
        <div><li><a href="#section3">Apparel Retail</a></li></div>
        <div><li><a href="#section4">Restaurants</a></li></div>
        <div><li><a href="#section5">General Merchandise Stores</a></li></div>
        <div><li><a href="#section6">Hotels, Resorts & Cruise Lines</a></li></div>
        <div><li><a href="#section7">Internet & Direct Marketing Retail</a></li></div>
        <div><li><a href="#section8">Homebuilding</a></li></div>
        <div><li><a href="#section9">Auto Parts & Equipment</a></li></div>
        <div><li><a href="#section10">Department Stores</a></li></div>
        <div><li><a href="#section11">Home Improvement Retail</a></li></div>
        <div><li><a href="#section12">Automobile Manufacturers</a></li></div>
        <div><li><a href="#section13">Home Furnishings</a></li></div>
        <div><li><a href="#section14">Motorcycle Manufacturers</a></li></div>
        <div><li><a href="#section15">Household Appliances</a></li></div>
        <div><li><a href="#section16">Casinos & Gaming</a></li></div>
        <div><li><a href="#section17">Computer & Electronics Retail</a></li></div> 
        <div><li><a href="#section18">Specialized Consumer Services</a></li></div>
        <div><li><a href="#section19">Automotive Retail</a></li></div>
        <div><li><a href="#section20">Consumer Electronics</a></li></div>
        <div><li><a href="#section21">Housewares & Specialties</a></li></div>
        <div><li><a href="#section22">Distributors</a></li></div>
        <div><li><a href="#section23">Leisure Products</a></li></div>     

        </div>
      

        <div class=container1>
    	<div id="section1">
            <br>
            <br>
            <br>
        <h3>IApparel, Accessories & Luxury Goods</h3>
        <img src="static/data/Consumer_Discretionary/Apparel, Accessories & Luxury Goods_positve.png" alt="Chart" width=100% >
        <img src="static/data/Consumer_Discretionary/Apparel, Accessories & Luxury Goods_negative.png" alt="Chart" width=100% >
        </div>
        
      
        <div id="section2">
            <br>
            <br>
            <br>
        <h3>Specialty Stores</h3>
        <img src="static/data/Consumer_Discretionary/Specialty Stores_positve.png" alt="Chart" width=100% >
        <img src="static/data/Consumer_Discretionary/Specialty Stores_negative.png" alt="Chart" width=100%  >
        </div>
   
        <div id="section3">
            <br>
            <br>
            <br>
    	<h3>Apparel Retail</h3>
        <img src="static/data/Consumer_Discretionary/Apparel Retail_positve.png" alt="Chart" width=100% >
        <img src="static/data/Consumer_Discretionary/Apparel Retail_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section4">
            <br>
            <br>
            <br>
    	<h3>Restaurants</he>
        <img src="static/data/Consumer_Discretionary/Restaurants_positve.png" alt="Chart" width=100% >
        <img src="static/data/Consumer_Discretionary/Restaurants_negative.png" alt="Chart" width=100% >
        </div>


        <div id="section5">
            <br>
            <br>
            <br>
    	<h3>General Merchandise Stores</h3>
        <img src="static/data/Consumer_Discretionary/General Merchandise Stores_positve.png" alt="Chart" width=100% >
        <img src="static/data/Consumer_Discretionary/General Merchandise Stores_negative.png" alt="Chart" width=100%  >
        </div>


        <div id="section6">
            <br>
            <br>
            <br>
    	<h3>Hotels, Resorts & Cruise Lines</h3>
        <img src="static/data/Consumer_Discretionary/Hotels, Resorts & Cruise Lines_positve.png" alt="Chart" width=100% >
        <img src="static/data/Consumer_Discretionary/Hotels, Resorts & Cruise Lines_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section7">
            <br>
            <br>
            <br>
    	<h3>Internet & Direct Marketing Retail</h3>
        <img src="static/data/Consumer_Discretionary/Internet & Direct Marketing Retail_positve.png" alt="Chart" width=100% >
        <img src="static/data/Consumer_Discretionary/Internet & Direct Marketing Retail_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section8">
            <br>
            <br>
            <br>
    	<h3>Homebuilding</h3>
        <img src="static/data/Consumer_Discretionary/Homebuilding_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Homebuilding_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section9">
            <br>
            <br>
            <br>
    	<h3>Auto Parts & Equipment</h3>
        <img src="static/data/Consumer_Discretionary/Auto Parts & Equipment_positve.png" alt="Chart" width=100% >

        <img src="static/data/Consumer_Discretionary/Auto Parts & Equipment_negative.png" alt="Chart" width=100%  >
        </div>
       

        <div id="section10">
            <br>
            <br>
            <br>
    	<h3>Department Stores</h3>
        <img src="static/data/Consumer_Discretionary/Department Stores_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Department Stores_negative.png" alt="Chart" width=100%   >
        </div>

        <div id="section11">
            <br>
            <br>
            <br>
    	<h3>Home Improvement Retail</h3>
        <img src="static/data/Consumer_Discretionary/Home Improvement Retail_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Home Improvement Retail_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section12">
            <br>
            <br>
            <br>
    	<h3>Automobile Manufacturers</h3>
        <img src="static/data/Consumer_Discretionary/Automobile Manufacturers_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Automobile Manufacturers_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section13">
            <br>
            <br>
            <br>
        <h3>Home Furnishings</h3>
        <img src="static/data/Consumer_Discretionary/Home Furnishings_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Home Furnishings_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section14">
            <br>
            <br>
            <br>
        <h3>Motorcycle Manufacturers</h3>
        <img src="static/data/Consumer_Discretionary/Motorcycle Manufacturers_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Motorcycle Manufacturers_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section15">
            <br>
            <br>
            <br>
        <h3>Household Appliances</h3>
        <img src="static/data/Consumer_Discretionary/Household Appliances_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Household Appliances_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section16">
            <br>
            <br>
            <br>
        <h3>Casinos & Gaming</h3>
        <img src="static/data/Consumer_Discretionary/Casinos & Gaming_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Casinos & Gaming_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section17">
            <br>
            <br>
            <br>
        <h3>Computer & Electronics Retail</h3>
        <img src="static/data/Consumer_Discretionary/Computer & Electronics Retail_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Computer & Electronics Retail_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section18">
            <br>
            <br>
            <br>
        <h3>Specialized Consumer Services</h3>
        <img src="static/data/Consumer_Discretionary/Specialized Consumer Services_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Specialized Consumer Services_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section19">
            <br>
            <br>
            <br>
        <h3>Automotive Retail</h3>
        <img src="static/data/Consumer_Discretionary/Automotive Retail_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Automotive Retail_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section20">
            <br>
            <br>
            <br>
        <h3>Consumer Electronics</h3>
        <img src="static/data/Consumer_Discretionary/Consumer Electronics_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Consumer Electronics_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section21">
            <br>
            <br>
            <br>
        <h3>Housewares & Specialties</h3>
        <img src="static/data/Consumer_Discretionary/Housewares & Specialties_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Housewares & Specialties_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section22">
            <br>
            <br>
            <br>
        <h3>Distributors</h3>
        <img src="static/data/Consumer_Discretionary/Distributors_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Distributors_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section23">
            <br>
            <br>
            <br>
        <h3>Leisure Products</h3>
        <img src="static/data/Consumer_Discretionary/Leisure Products_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Consumer_Discretionary/Leisure Products_negative.png" alt="Chart" width=100%  >
        </div>



    </div>

{% endblock content %}
