{% extends "layout.html" %}
{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> -->
    <h3>Consumer Discretionary Earnings Sentiment Signals</h3>
    
    <button type="button" class="btn btn-success">Trade</button>

    <div class=container2>
    <div class="row">
     {% for cd in cds %}
     <div class="col-lg-3 col-sm-6">
               
                <div><a href=#{{ loop.index }}>{{cd}}</a></div>
            </div>
           
     {% endfor %}
     </div>
     </div>
    
        <div class=container1>
        {% for cd in cds %}
        <div id={{ loop.index }}><br><br><br>
        <h3>{{cd}} </h3>
        <img src="\static\data\consumer_discretionary\{{cd}}_positive.png" alt="Chart" width=100% >
        <img src="\static\data\consumer_discretionary\{{cd}}_negative.png" alt="Chart" width=100% >
         </div>
        {% endfor %}
         
         </div>
{% endblock content %}



















































