
{% extends "layout.html" %}



{% block content %}

<h2> Todays Earnings Calls by Company</h2>
<h5> Earnings Call sentiments and Past trends</h5>

 <button>Trade</button>
 <br>
  <br>
<img src="static/data/today_1.png" alt="Chart" width=100%>
<br>

<img src="static/data/today_2.png" alt="Chart" width=100%>
<br>

<img src="static/data/today_3.png" alt="Chart" width=100%>
<br>

<img src="static/data/today_4.png" alt="Chart" width=100%>
<br>

<img src="static/data/today_5.png" alt="Chart" width=100%>
<br>

<img src="static/data/today_6.png" alt="Chart" width=100%>
<br>

<img src="static/data/todayo_1.png" alt="Chart" width=100%>
<br>

<img src="static/data/todayo_2.png" alt="Chart" width=100%>
<br>

<img src="static/data/todayo_3.png" alt="Chart" width=100%>
<br>

<img src="static/data/todayo_4.png" alt="Chart" width=100%>
<br>

<img src="static/data/todayo_5.png" alt="Chart" width=100%>
<br>

<img src="static/data/todayo_6.png" alt="Chart" width=100%>
<br>





    
  
      
{% endblock content %}
