
{% extends "layout.html" %}



{% block content %}

<h2> Todays Earnings Calls by Company</h2>
<h5> Earnings Call sentiments and Past trends</h5>
<br>

<img src="static/data/today_1.png" alt="Chart" height="400" widthe="400">
<br>

<img src="static/data/today_2.png" alt="Chart" height="400" widthe="400">
<br>

<img src="static/data/todayo_1.png" alt="Chart" height="400" widthe="400">
<br>

<img src="static/data/todayo_2.png" alt="Chart" height="400" widthe="400">




    
  
      
{% endblock content %}
