{% extends "layout.html" %}
{% block content %}
    <h3>Financials Earnings Sentiment Signals</h3>
    <style>
        a:: before {
            content: "\21d2";
            font-weight: bold;
        }

        }

        button:hover {
            background-color: orange;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .container > div {
    
            padding: 12px;
            margin: 0px;    
        }
        
        .container1 > div {
            padding: 20px;
            margin: 20px; 
        }
                

    </style>
    <button>Trade</button>
    
    <div class=container>
       
        <div><li><a href="#section1">Regional Banks</a></li></div>
        <div><li><a href="#section2">Asset Management & Custody Banks</a></li></div>
        <div><li><a href="#section3">Diversified Banks</a></li></div>
        <div><li><a href="#section4">Financial Exchanges & Data</a></li></div>
        <div><li><a href="#section5">Consumer Finance</a></li></div>
        <div><li><a href="#section6">Property & Casualty Insurance</a></li></div>
        <div><li><a href="#section7">Life & Health Insurance</a></li></div>
        <div><li><a href="#section8">Investment Banking & Brokerage</a></li></div>
        <div><li><a href="#section9">Insurance Brokers</a></li></div>
        <div><li><a href="#section10">Multi-line Insurance</a></li></div>
        <div><li><a href="#section11">Thrifts & Mortgage Finance</a></li></div>
        <div><li><a href="#section12">Reinsurance</a></li></div>
        

        </div>
      

        <div class=container1>

        <div id="section1">
            <br>
            <br>
            <br>
        <h3>Regional Banks</h3>
        <img src="static/data/financials/Regional Banks_positve.png" alt="Chart" width=100% >
        <img src="static/data/financials/Regional Banks_negative.png" alt="Chart" width=100% >
        </div>
      
        <div id="section2">
            <br>
            <br>
            <br>
        <h3>Asset Management & Custody Banks</h3>
        <img src="static/data/financials/Asset Management & Custody Banks_positve.png" alt="Chart" width=100% >
        <img src="static/data/financials/Asset Management & Custody Banks_negative.png" alt="Chart" width=100%  >
        </div>
   
        <div id="section3">
            <br>
            <br>
            <br>
    	<h3>Diversified Banks</h3>
        <img src="static/data/financials/Diversified Banks_positve.png" alt="Chart" width=100% >
        <img src="static/data/financials/Diversified Banks_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section4">
            <br>
            <br>
            <br>
    	<h3>Financial Exchanges & Data</he>
        <img src="static/data/financials/Financial Exchanges & Data_positve.png" alt="Chart" width=100% >
        <img src="static/data/financials/Financial Exchanges & Data_negative.png" alt="Chart" width=100% >
        </div>


        <div id="section5">
            <br>
            <br>
            <br>
    	<h3>Consumer Finance</h3>
        <img src="static/data/financials/Consumer Finance_positve.png" alt="Chart" width=100% >
        <img src="static/data/financials/Consumer Finance_negative.png" alt="Chart" width=100%  >
        </div>


        <div id="section6">
            <br>
            <br>
            <br>
    	<h3>Property & Casualty Insurance</h3>
        <img src="static/data/financials/Property & Casualty Insurance_positve.png" alt="Chart" width=100% >
        <img src="static/data/financials/Property & Casualty Insurance_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section7">
            <br>
            <br>
            <br>
    	<h3>Life & Health Insurance</h3>
        <img src="static/data/financials/Life & Health Insurance_positve.png" alt="Chart" width=100% >
        <img src="static/data/financials/Life & Health Insurance_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section8">
            <br>
            <br>
            <br>
    	<h3>Investment Banking & Brokerage</h3>
        <img src="static/data/financials/Investment Banking & Brokerage_positve.png" alt="Chart" width=100%  >
        <img src="static/data/financials/Investment Banking & Brokerage_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section9">
            <br>
            <br>
            <br>
    	<h3>Insurance Brokers</h3>
        <img src="static/data/financials/Insurance Brokers_positve.png" alt="Chart" width=100% >

        <img src="static/data/financials/Insurance Brokers_negative.png" alt="Chart" width=100%  >
        </div>
       

        <div id="section10">
            <br>
            <br>
            <br>
    	<h3>Multi-line Insurance</h3>
        <img src="static/data/financials/Multi-line Insurance_positve.png" alt="Chart" width=100%  >
        <img src="static/data/financials/Multi-line Insurance_negative.png" alt="Chart" width=100%   >
        </div>


        <div id="section11">
            <br>
            <br>
            <br>
        <h3>Thrifts & Mortgage Finance</h3>
        <img src="static/data/financials/Thrifts & Mortgage Finance_positve.png" alt="Chart" width=100%  >
        <img src="static/data/financials/Thrifts & Mortgage Finance_negative.png" alt="Chart" width=100%   >
        </div>


        <div id="section12">
            <br>
            <br>
            <br>
        <h3>Reinsurance</h3>
        <img src="static/data/financials/Reinsurance_positve.png" alt="Chart" width=100%  >
        <img src="static/data/financials/Reinsurance_negative.png" alt="Chart" width=100%   >
        </div>

        

    </div>


{% endblock content %}
