{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <h3>Industrials Earnings Sentiment Signals</h3>
  
    <button>Trade</button>
    
    <div class=container>
       
        <div><li><a href="#section1">Health Care Equipment</a></li></div>
        <div><li><a href="#section2">Pharmaceuticals</a></li></div>
        <div><li><a href="#section3">Biotechnology</a></li></div>
        <div><li><a href="#section4">Managed Health Care  </a></li></div>
        <div><li><a href="#section5">Health Care Distributors</a></li></div>
        <div><li><a href="#section6">Health Care Facilities</a></li></div>
        <div><li><a href="#section7">Life Sciences Tools & Services</a></li></div>
        <div><li><a href="#section8">Health Care Services</a></li></div>
        <div><li><a href="#section9">Health Care Supplies</a></li></div>
        <div><li><a href="#section10">Health Care Technology</a></li></div>
        

        </div>
      

        <div class=container1>

        <div id="section1"><br><br><br>
            
        <h3>Health Care Equipment</h3>
        <img src="static/data/health_care/Health Care Equipment_positve.png" alt="Chart" width=100% >
        <img src="static/data/health_care/Health Care Equipment_negative.png" alt="Chart" width=100% >
        </div>
      
        <div id="section2"><br><br><br>
            
        <h3>Pharmaceuticals</h3>
        <img src="static/data/health_care/Pharmaceuticals_positve.png" alt="Chart" width=100% >
        <img src="static/data/health_care/Pharmaceuticals_negative.png" alt="Chart" width=100%  >
        </div>
   
        <div id="section3"><br><br><br>
           
    	<h3>Biotechnology</h3>
        <img src="static/data/health_care/Biotechnology_positve.png" alt="Chart" width=100% >
        <img src="static/data/health_care/Biotechnology_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section4"><br><br><br>
           
    	<h3>Managed Health Care</he>
        <img src="static/data/health_care/Managed Health Care_positve.png" alt="Chart" width=100% >
        <img src="static/data/health_care/Managed Health Care_negative.png" alt="Chart" width=100% >
        </div>


        <div id="section5"><br><br><br>
          
    	<h3>Health Care Distributors</h3>
        <img src="static/data/health_care/Health Care Distributors_positve.png" alt="Chart" width=100% >
        <img src="static/data/health_care/Health Care Distributors_negative.png" alt="Chart" width=100%  >
        </div>


        <div id="section6"><br><br><br>
           
    	<h3>Health Care Facilities</h3>
        <img src="static/data/health_care/Health Care Facilities_positve.png" alt="Chart" width=100% >
        <img src="static/data/health_care/Health Care Facilities_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section7"><br><br><br>
           
    	<h3>Life Sciences Tools & Services</h3>
        <img src="static/data/health_care/Life Sciences Tools & Services_positve.png" alt="Chart" width=100% >
        <img src="static/data/health_care/Life Sciences Tools & Services_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section8"><br><br><br>
            
    	<h3>Health Care Services</h3>
        <img src="static/data/health_care/Health Care Services_positve.png" alt="Chart" width=100%  >
        <img src="static/data/health_care/Health Care Services_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section9"><br><br><br>
            
    	<h3>Health Care Supplies</h3>
        <img src="static/data/health_care/Health Care Supplies_positve.png" alt="Chart" width=100% >

        <img src="static/data/health_care/Health Care Supplies_negative.png" alt="Chart" width=100%  >
        </div>
       

        <div id="section10"><br><br><br>
            
    	<h3>Health Care Technology</h3>
        <img src="static/data/health_care/Health Care Technology_positve.png" alt="Chart" width=100%  >
        <img src="static/data/health_care/Health Care Technology_negative.png" alt="Chart" width=100%   >
        </div>

        

    </div>


{% endblock content %}
