
{% extends "layout.html" %}







{% block content %}

<h3> Negative Sentiments of All Earnings Calls</h3>
<img src="static/data/allnegative.png" alt="Chart" height="400" widthe="400">
<br>
<h3> Positive Sentiments of All Earnings Calls</h3>
<img src="static/data/allpositive.png" alt="Chart" height="400" widthe="400">
<br>
<h3> Neutral Sentiments of All Earnings Calls</h3>
<img src="static/data/allneutral.png" alt="Chart" height="400" widthe="400">
<br>
<h3> Polarity Sentiments of All Earnings Calls</h3>
<img src="static/data/allpolarity.png" alt="Chart" height="400" widthe="400">
<h3> Subjectivity Sentiments of All Earnings Calls</h3>
<img src="static/data/allsubjectivity.png" alt="Chart" height="400" widthe="400">



    
  
      
{% endblock content %}
