{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <h3>Information Technology Earnings Sentiment Signals</h3>
    
    <button>Trade</button>
    
    <div class=container>
       
        <div><li><a href="#section1">IT Consulting & Other Services</a></li></div>
        <div><li><a href="#section2">Data Processing & Outsourced Services</a></li></div>
        <div><li><a href="#section3">Semiconductors</a></li></div>
        <div><li><a href="#section4">Application Software</a></li></div>
        <div><li><a href="#section5">Technology Hardware, Storage & Peripherals</a></li></div>
        <div><li><a href="#section6">Electronic Equipment & Instruments</a></li></div>
        <div><li><a href="#section7">Semiconductor Equipment</a></li></div>
        <div><li><a href="#section8">Communications Equipment</a></li></div>
        <div><li><a href="#section9">Internet Services & Infrastructure</a></li></div>
        <div><li><a href="#section10">Electronic Components</a></li></div>
        <div><li><a href="#section11">Electronic Manufacturing Services</a></li></div>
        <div><li><a href="#section12">Systems Software</a></li></div>       

        </div>
      

        <div class=container1>
    	<div id="section1"><br><br><br>
        <h3>IT Consulting & Other Services</h3>
        <img src="static/data/Information_Technology/IT Consulting & Other Services_positve.png" alt="Chart" width=100% >
        <img src="static/data/Information_Technology/IT Consulting & Other Services_negative.png" alt="Chart" width=100% >
        </div>
        
      
        <div id="section2"><br><br><br>
        <h3>Data Processing & Outsourced Services</h3>
        <img src="static/data/Information_Technology/Data Processing & Outsourced Services_positve.png" alt="Chart" width=100% >
        <img src="static/data/Information_Technology/Data Processing & Outsourced Services_negative.png" alt="Chart" width=100%  >
        </div>
   
        <div id="section3"><br><br><br>
    	<h3>Semiconductors</h3>
        <img src="static/data/Information_Technology/Semiconductors_positve.png" alt="Chart" width=100% >
        <img src="static/data/Information_Technology/Semiconductors_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section4"><br><br><br>
    	<h3>Application Software</he>
        <img src="static/data/Information_Technology/Application Software_positve.png" alt="Chart" width=100% >
        <img src="static/data/Information_Technology/Application Software_negative.png" alt="Chart" width=100% >
        </div>


        <div id="section5"><br><br><br>
    	<h3>Technology Hardware, Storage & Peripherals</h3>
        <img src="static/data/Information_Technology/Technology Hardware, Storage & Peripherals_positve.png" alt="Chart" width=100% >
        <img src="static/data/Information_Technology/Technology Hardware, Storage & Peripherals_negative.png" alt="Chart" width=100%  >
        </div>


        <div id="section6"><br><br><br>
    	<h3>Electronic Equipment & Instruments</h3>
        <img src="static/data/Information_Technology/Electronic Equipment & Instruments_positve.png" alt="Chart" width=100% >
        <img src="static/data/Information_Technology/Electronic Equipment & Instruments_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section7"><br><br><br>
    	<h3>Semiconductor Equipment</h3>
        <img src="static/data/Information_Technology/Semiconductor Equipment_positve.png" alt="Chart" width=100% >
        <img src="static/data/Information_Technology/Semiconductor Equipment_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section8"><br><br><br>
    	<h3>Communications Equipment</h3>
        <img src="static/data/Information_Technology/Communications Equipment_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Information_Technology/Communications Equipment_negative.png" alt="Chart" width=100% >
        </div>

        <div id="section9"><br><br><br>
    	<h3>Internet Services & Infrastructure</h3>
        <img src="static/data/Information_Technology/Internet Services & Infrastructure_positve.png" alt="Chart" width=100% >

        <img src="static/data/Information_Technology/Internet Services & Infrastructure_negative.png" alt="Chart" width=100%  >
        </div>
       

        <div id="section10"><br><br><br>
    	<h3>Electronic Components</h3>
        <img src="static/data/Information_Technology/Electronic Components_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Information_Technology/Internet Services & Infrastructure_negative.png" alt="Chart" width=100%   >
        </div>

        <div id="section11"><br><br><br>
    	<h3>Electronic Manufacturing Services</h3>
        <img src="static/data/Information_Technology/Electronic Manufacturing Services_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Information_Technology/Electronic Manufacturing Services_negative.png" alt="Chart" width=100%  >
        </div>

        <div id="section12"><br><br><br>
    	<h3>Systems Software</h3>
        <img src="static/data/Information_Technology/Systems Software_positve.png" alt="Chart" width=100%  >
        <img src="static/data/Information_Technology/Systems Software_negative.png" alt="Chart" width=100%  >
        </div>
    </div>

        


      


{% endblock content %}
