<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Earnings Trade - {{ title }}</title>
    {% else %}
        <title>Earnings Trade </title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">AI Trade Central</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              

              
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
               <!--  <div class="bs-example">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Action</a>
                            <a href="#" class="dropdown-item">Another action</a>
                        </div>
                    </div>
                </div> -->
                
                    
                    
                    

                    
                
                     
                <a class="nav-item nav-link" href="{{ url_for('ml') }}">AI Daily Recommendation</a>
                <a class="nav-item nav-link" href="{{ url_for('daily') }}">Todays Earnings Calls</a>

                <div class="dropdown">
                            <a class="nav-item nav-link" href="{{ url_for('industrials') }}" class="dropdown-toggle" data-toggle="dropdown">Sector Sentiments</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('industrials') }}">Industrials</a>
                                <a class="dropdown-item" href="{{ url_for('financials') }}">Financials</a>
                                <a class="dropdown-item" href="{{ url_for('information_technology') }}">Information Technology</a>
                                <a class="dropdown-item" href="{{ url_for('health_care') }}">Health Care</a>
                                <a class="dropdown-item" href="{{ url_for('consumer_staples') }}">Consumer Staples</a>
                                <a class="dropdown-item" href="{{ url_for('consumer_discretionary') }}">Consumer Discretionary</a>
                                <a class="dropdown-item" href="{{ url_for('energy') }}">energy</a>
                                <a class="dropdown-item" href="{{ url_for('communication_services') }}">Communication Services</a>
                                <a class="dropdown-item" href="{{ url_for('energy') }}">Energy</a>
                                <a class="dropdown-item" href="{{ url_for('materials') }}">Materials</a>
                                <a class="dropdown-item" href="{{ url_for('utilities') }}">Utilities</a>
                                <a class="dropdown-item" href="{{ url_for('real_estate') }}">Real Estate</a>
                        </div>
                    </div>



                
                <a class="nav-item nav-link" href="{{ url_for('agent') }}">RI Agent Signals</a>
                <a class="nav-item nav-link" href="{{ url_for('blog') }}">Blogs</a>
                <a class="nav-item nav-link" href="{{ url_for('new_post') }}">Post</a>
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('about') }}">AI Daily Recommendation</a>
                <a class="nav-item nav-link" href="{{ url_for('about') }}">Todays Earnings Calls</a>

                <div class="dropdown">
                            <a class="nav-item nav-link" href="{{ url_for('industrials') }}" class="dropdown-toggle" data-toggle="dropdown">Sector Sentiments</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('industrials') }}">Industrials</a>
                                <a class="dropdown-item" href="{{ url_for('financials') }}">Financials</a>
                                <a class="dropdown-item" href="{{ url_for('information_technology') }}">Information Technology</a>
                                <a class="dropdown-item" href="{{ url_for('health_care') }}">Health Care</a>
                                <a class="dropdown-item" href="{{ url_for('consumer_staples') }}">Consumer Staples</a>
                                <a class="dropdown-item" href="{{ url_for('consumer_discretionary') }}">Consumer Discretionary</a>
                                <a class="dropdown-item" href="{{ url_for('energy') }}">energy</a>
                                <a class="dropdown-item" href="{{ url_for('communication_services') }}">Communication Services</a>
                                <a class="dropdown-item" href="{{ url_for('energy') }}">Energy</a>
                                <a class="dropdown-item" href="{{ url_for('materials') }}">Materials</a>
                                <a class="dropdown-item" href="{{ url_for('utilities') }}">Utilities</a>
                                <a class="dropdown-item" href="{{ url_for('real_estate') }}">Real Estate</a>
                        </div>
                    </div>




                
                <a class="nav-item nav-link" href="{{ url_for('about') }}">RI Agent Signals</a>
                <a class="nav-item nav-link" href="{{ url_for('about') }}">Blogs</a>
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Earnings Related</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"> 
                  <a href= "https://finance.yahoo.com/quote/GOOG/analysis?p=GOOG" >Analyst Estimates</a>
                </li>
                <li class="list-group-item list-group-item-light">Earnings Announcements</li>
                <li class="list-group-item list-group-item-light">Earnings Calendars</li>
                <li class="list-group-item list-group-item-light">Brag about your trades</li>
               </ul> 
               <br>
                <h3>S&P 500 Earnings</h3>
                
                <ul>Negative Sentiments of sp500 Earnings Calls</ul>
                <img src="static/data/sp500negative.png" alt="Chart" width=100%>
                <ul>Positive Sentiments of sp500 Earnings Calls</ul>
                <img src="static/data/sp500positive.png" alt="Chart" width=100%>
                <ul>Neutral Sentiments of sp500 Earnings Calls</ul>
                <img src="static/data/sp500neutral.png" alt="Chart" width=100%>
                <ul>Polarity Sentiments of sp500 Earnings Calls</ul>
                <img src="static/data/sp500polarity.png" alt="Chart" width=100%>
                <ul>Subjectivity Sentiments of sp500 Earnings Calls</ul>
                <img src="static/data/sp500subjectivity.png" alt="Chart" width=100%>

                <h3>Industrials Sector</h3>
                <ul>Negative Sentiments of Industrials Sector Earnings Calls</ul>
                <img src="static/data/industrials_negative.png" alt="Chart" width=100%>
                <ul>Positive Sentiments of Industrials Sector Earnings Calls</ul>
                <img src="static/data/industrials_positive.png" alt="Chart" width=100%>

                <h3>Financials Sector</h3>
                <ul>Negative Sentiments of Financials Sector Earnings Calls</ul>
                <img src="static/data/financials_negative.png" alt="Chart" width=100%>
                <ul>Positive Sentiments of Financials Sector Earnings Calls</ul>
                <img src="static/data/financials_positive.png" alt="Chart" width=100%>

                <h3>Information Technology Sector</h3>
                <ul>Negative Sentiments of Information Technology Sector Earnings Calls</ul>
                <img src="static/data/information_technology_negative.png" alt="Chart" width=100%>
                <ul>Positive Sentiments of Information Technology Sector Earnings Calls</ul>
                <img src="static/data/information_technology_positive.png" alt="Chart" width=100%>

                <h3>Health Care Sector</h3>
                <ul>Negative Sentiments of Health Care Sector Earnings Calls</ul>
                <img src="static/data/health_care_negative.png" alt="Chart" width=100%>
                <ul>Positive Sentiments of Health Care Sector Earnings Calls</ul>
                <img src="static/data/health_care_positive.png" alt="Chart" width=100%>

                <h3>Real Estate Sector</h3>
                <ul>Negative Sentiments of Real Estate Sector Earnings Calls</ul>
                <img src="static/data/real_estate_negative.png" alt="Chart" width=100%>
                <ul>Positive Sentiments of Real Estate Sector Earnings Calls</ul>
                <img src="static/data/real_estate_positive.png" alt="Chart" width=100%>

                <h3>Consumer_Discretionary Sector</h3>
                <ul>Negative Sentiments of Communication Services Sector Earnings Calls</ul>
                <img src="static/data/Communication_Services_negative.png" alt="Chart" width=100%>
                <ul>Positive Sentiments of Communication Services Sector Earnings Calls</ul>
                <img src="static/data/Communication_Services_positive.png" alt="Chart" width=100%>

                <h3>Consumer Discretionary Sector</h3>
                <ul>Negative Sentiments of Consumer Discretionary Sector Earnings Calls</ul>
                <img src="static/data/Consumer_Discretionary_negative.png" alt="Chart" width=100%>
                <ul>Positive Sentiments of Consumer Discretionary Sector Earnings Calls</ul>
                <img src="static/data/Consumer_Discretionary_positive.png" alt="Chart" width=100%>

                <h3>Consumer Staples Sector</h3>
                <ul>Negative Sentiments of Consumer Staples Sector Earnings Calls</ul>
                <img src="static/data/Consumer_Staples_negative.png" alt="Chart" width=100%>
                <ul>Positive Sentiments of Consumer Staples Sector Earnings Calls</ul>
                <img src="static/data/Consumer_Staples_positive.png" alt="Chart" width=100%>

                <h3>Energy Sector</h3>
                <ul>Negative Sentiments of Energy Sector Earnings Calls</ul>
                <img src="static/data/Energy_negative.png" alt="Chart" width=100%>
                <ul>Positive Sentiments of Energy Sector Earnings Calls</ul>
                <img src="static/data/Energy_positive.png" alt="Chart" width=100%>

                <h3>Materials Sector</h3>
                <ul>Negative Sentiments of Materials Sector Earnings Calls</ul>
                <img src="static/data/Materials_negative.png" alt="Chart" width=100%>
                <ul>Positive Sentiments of Materials Sector Earnings Calls</ul>
                <img src="static/data/Materials_positive.png" alt="Chart" width=100%>

                <h3>Utilities Sector</h3>
                <ul>Negative Sentiments of Utilities Sector Earnings Calls</ul>
                <img src="static/data/Utilities_negative.png" alt="Chart" width=100%>
                <ul>Positive Sentiments of Utilities Sector Earnings Calls</ul>
                <img src="static/data/Utilities_positive.png" alt="Chart" width=100%>

              
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
