{% extends "layout.html" %}
{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> -->
    <h3>Real Estate Earnings Sentiment Signals</h3>
    
    <button type="button" class="btn btn-success">Trade</button>

    <div class=container2>
    <div class="row">
     {% for re in res %}
     <div class="col-lg-3 col-sm-6">
               
                <div><a href=#{{ loop.index }}>{{re}}</a></div>
            </div>
           
     {% endfor %}
     </div>
     </div>
    
        <div class=container1>
        {% for re in res %}
        <div id={{ loop.index }}><br><br><br>
        <h3>{{re}} </h3>
        <img src="\static\data\real_estate\{{re}}_positive.png" alt="Chart" width=100% >
        <img src="\static\data\real_estate\{{re}}_negative.png" alt="Chart" width=100% >
         </div>
        {% endfor %}
         
         </div>
{% endblock content %}



















































